In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("population_world.csv", sep=",")

In [4]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,NaN,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,NaN,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,NaN,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,NaN,NaN

In [5]:
# Fusionner les colonnes d'années en une seule colonne "Year" et une colonne "Population"
data_melted = data.melt(
    id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
    var_name="Year",
    value_name="Population",
)

# Afficher les premières lignes pour vérifier les transformations
print(data_melted.head())

                  Country Name Country Code     Indicator Name Indicator Code  \
0                        Aruba          ABW  Population, total    SP.POP.TOTL
1  Africa Eastern and Southern          AFE  Population, total    SP.POP.TOTL
2                  Afghanistan          AFG  Population, total    SP.POP.TOTL
3   Africa Western and Central          AFW  Population, total    SP.POP.TOTL
4                       Angola          AGO  Population, total    SP.POP.TOTL

   Year   Population
0  1960      54608.0
1  1960  130692579.0
2  1960    8622466.0
3  1960   97256290.0
4  1960    5357195.0

In [6]:
# remove colomns "Indicator Name", "Indicator Code"
columns_to_drop = ["Indicator Name", "Indicator Code", "Country Code"]
data_melted = data_melted.drop(columns=columns_to_drop)
# rename Country Name to Country
data_melted = data_melted.rename(columns={"Country Name": "Country"})
data_melted.head()

                       Country  Year   Population
0                        Aruba  1960      54608.0
1  Africa Eastern and Southern  1960  130692579.0
2                  Afghanistan  1960    8622466.0
3   Africa Western and Central  1960   97256290.0
4                       Angola  1960    5357195.0

In [13]:
# Save the data to a new CSV file
data_melted.to_csv("population_world_melted.csv", index=False)

In [11]:
# Filtrer pour l'année 2020 et trier par population décroissante
df_2020 = data_melted[data_melted["Year"] == "2020"]

# Afficher les cinq premiers pays avec les plus grandes populations en 2020
print("Les pays avec les plus grandes populations en 2020 sont :")
print(df_2020[["Country", "Population"]].head())

Les pays avec les plus grandes populations en 2020 sont :
                           Country   Population
15960                        Aruba     106585.0
15961  Africa Eastern and Southern  685112979.0
15962                  Afghanistan   38972230.0
15963   Africa Western and Central  466189102.0
15964                       Angola   33428486.0

In [17]:
# Population of china in 2020
print("Population de la France en 2020 :")
print(
    data_melted[(data_melted["Country"] == "France") & (data_melted["Year"] == "2020")][
        "Population"
    ].to_string(index=False)
)

Population de la France en 2020 :
67571107.0

In [19]:
print("Population de l'Afganistan en 1983 :")
print(
    data_melted[data_melted["Country"] == "Afghanistan"][data_melted["Year"] == "1983"][
        "Population"
    ].to_string()
)

Population de l'Afganistan en 1983 :
6120    9951449.0

/var/folders/zk/rcqnm5cj1s31mwy0myzr5df00000gp/T/ipykernel_58578/434776692.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_melted[data_melted["Country"] == "Afghanistan"][data_melted["Year"] == "1983"][